@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
// Accordion Height
$a-height: 350px;
// Position text along bottom
$text-offset: $a-height - 90;
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:before,
    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

html,
body {
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    color: #555;
}

a {
    color: #222;
    text-decoration: none;
    a:hover,
    a:visited,
    a:focus {
        text-decoration: none!important;
        background: transparent!important;
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
}

#goof-home {
    height: 100vh;
}

.brand-name {
    display: block;
    margin: 0 auto;
    width: 370px;
    height: 94px;
    line-height: 94px;
    font: {
        family: Montserrat, sans-serif;
        size: 3em
    }
    text: {
        align: center;
        transform: uppercase;
    }
    &:after {
        content: '';
        width: 5px;
        height: 212px;
        background-color: #000;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transform: rotate(45deg) translate(0%, 0%);
        -moz-transform: rotate(45deg) translate(0%, 0%);
        -ms-transform: rotate(45deg) translate(0%, 0%);
        -o-transform: rotate(45deg) translate(0%, 0%);
        transform: rotate(45deg) translate(0%, 0%);
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -2.5px;
        margin-top: -106px;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
    }
    &:hover {
        color: #222;
        text-decoration: none;
    }
    &:hover:after {
        -webkit-animation: comets 0.5s forwards;
        -moz-animation: comets 0.5s forwards;
        -ms-animation: comets 0.5s forwards;
        animation: comets 0.5s forwards;
    }
}

.accordion {
    width: 100%;
    max-width: 1080px;
    height: $a-height;
    overflow: hidden;
    margin: 40px auto;
    ul {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin: 0;
        padding: 0;
        li {
            display: table-cell;
            vertical-align: bottom;
            position: relative;
            width: 16.666%; // 6 into 100
            height: $a-height;
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 500ms ease;
            div {
                display: block;
                overflow: hidden;
                width: 100%;
                a {
                    display: block;
                    height: $a-height;
                    width: 100%;
                    position: relative;
                    z-index: 3;
                    vertical-align: bottom;
                    padding: 15px 20px;
                    box-sizing: border-box;
                    color: #fff;
                    text-decoration: none;
                    font-family: Open Sans, sans-serif;
                    transition: all 200ms ease;
                    * {
                        opacity: 0;
                        margin: 0;
                        width: 100%;
                        text-overflow: ellipsis;
                        position: relative;
                        z-index: 5;
                        white-space: nowrap;
                        overflow: hidden;
                        -webkit-transform: translateX(-20px);
                        transform: translateX(-20px);
                        -webkit-transition: all 400ms ease;
                        transition: all 400ms ease;
                    }
                    .menu-title {
                        font-family: Montserrat, sans-serif;
                        text-overflow: clip;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-bottom: 2px;
                        top: $text-offset;
                    }
                }
            }
        }
        // Background images
        li:nth-child(1) {
            background-image: url('../img/home_01.jpg');
        }
        li:nth-child(2) {
            background-image: url('../img/home_w_01.jpg');
        }
        li:nth-child(3) {
            background-image: url('../img/home_03.jpg');
        }
        li:nth-child(4) {
            background-image: url('../img/home_02.jpg');
        }
        li:nth-child(5) {
            background-image: url('../img/home_w_02.jpg');
        }
        li:nth-child(6) {
            background-image: url('../img/home_w_03.jpg');
        }
        &:hover li {
            width: 8%;
        }
        &:hover li:hover {
            width: 60%;
            a {
                background: rgba(0, 0, 0, .4);
                * {
                    opacity: 1;
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                }
            }
        }
    }
}

// Stack items
@media screen and (max-width: 600px) {
    // IE gets fussy if this isn't here
    body {
        margin: 0;
    }
    .accordion {
        height: auto;
        ul,
        ul:hover {
            li,
            li:hover {
                position: relative;
                display: table;
                table-layout: fixed;
                width: 100%;
                -webkit-transition: none;
                transition: none;
            }
        }
    }
}

#goof-shop {
    padding-top: 180px;
    padding-bottom: 200px;
    .product-block {
        img {
            display: block;
            margin: 0 auto;
        }
        .title-block {
            margin-top: 20px;
            text-align: center;
            a {
                text-transform: uppercase;
                font-size: 1em;
                vertical-align: middle;
                letter-spacing: 1.5px;
            }
            .price-block {
                display: block;
                margin-top: 10px;
                font-size: 1em;
                color: #000;
                .currency {
                    font-size: 0.8em;
                    font-weight: bold;
                    color: #555;
                }
            }
        }
    }
}

#sidebar {
    h4 {
        font-weight: bold;
    }
    .form-group {
        input {
            border-radius: 0;
            &:focus {
                border-color: #333;
                box-shadow: none;
            }
        }
    }
    .sidebar-nav {
        list-style: none;
        -webkit-padding-start: 15%;
        li {
            padding-top: 5px;
            padding-bottom: 5px;
            a {
                color: #777;
                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
        }
        .active>a {
            color: #000;
            // font-weight: bold;
        }
    }
}

#search-btn {
    display: block;
    margin-top: -34px;
    float: right;
    font-size: 30px;
    border: 0;
    filter: alpha(opacity=65);
    opacity: 0.5;
    background: transparent;
    &:hover {
        filter: alpha(opacity=90);
        opacity: 1;
    }
}

@-moz-keyframes comets {
    0% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(-20%, -100%);
        -moz-transform: rotate(45deg) translate(-20%, -100%);
        -ms-transform: rotate(45deg) translate(-20%, -100%);
        -o-transform: rotate(45deg) translate(-20%, -100%);
        transform: rotate(45deg) translate(-20%, -100%);
    }
    50% {
        width: 2px;
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
    }
    100% {
        width: 0%;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(20%, 100%);
        -moz-transform: rotate(45deg) translate(20%, 100%);
        -ms-transform: rotate(45deg) translate(20%, 100%);
        -o-transform: rotate(45deg) translate(20%, 100%);
        transform: rotate(45deg) translate(20%, 100%);
    }
}

@-webkit-keyframes comets {
    0% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(-20%, -100%);
        -moz-transform: rotate(45deg) translate(-20%, -100%);
        -ms-transform: rotate(45deg) translate(-20%, -100%);
        -o-transform: rotate(45deg) translate(-20%, -100%);
        transform: rotate(45deg) translate(-20%, -100%);
    }
    50% {
        width: 2px;
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
    }
    100% {
        width: 0%;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(20%, 100%);
        -moz-transform: rotate(45deg) translate(20%, 100%);
        -ms-transform: rotate(45deg) translate(20%, 100%);
        -o-transform: rotate(45deg) translate(20%, 100%);
        transform: rotate(45deg) translate(20%, 100%);
    }
}

@keyframes comets {
    0% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(-20%, -100%);
        -moz-transform: rotate(45deg) translate(-20%, -100%);
        -ms-transform: rotate(45deg) translate(-20%, -100%);
        -o-transform: rotate(45deg) translate(-20%, -100%);
        transform: rotate(45deg) translate(-20%, -100%);
    }
    50% {
        width: 2px;
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1;
    }
    100% {
        width: 0%;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(20%, 100%);
        -moz-transform: rotate(45deg) translate(20%, 100%);
        -ms-transform: rotate(45deg) translate(20%, 100%);
        -o-transform: rotate(45deg) translate(20%, 100%);
        transform: rotate(45deg) translate(20%, 100%);
    }
}