h3,
h4 {
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 1.4;
    color: inherit;
    letter-spacing: .08em;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#content {
    margin: 0 auto;
    // position: relative;
    zoom: 1;
    .b-accountMenu {
        li {
            padding: 10px;
            &:hover {
                a {
                    text-decoration: underline;
                }
            }
            a {
                display: block;
                font-size: 0.8em;
                text-transform: uppercase;
            }
        }
        li.active {
            border: 1px solid #222;
        }
    }
    .user-content {
        width: 80%;
        margin: 0 auto;
        border: 1px solid #222;
        tr {}
        td {
            padding: 15px;
            font-size: 0.9em;
        }
        .table-header {
            font-size: 1.1em;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.4em;
            line-height: 1.6em;
            background: #222;
        }
        .edit-btn {
            padding: 5px 20px;
            font-size: 0.6em;
            color: #fff;
            text-transform: uppercase;
            float: right;
            box-shadow: none;
            border: 1px solid #222;
            border-radius: 0;
            background: #222;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
            &:focus {
                outline: none;
            }
            &:hover {
                color: #000;
                background: #fff;
            }
            &#change-pass,
            &.delete-address {
                color: #000;
                float: left;
                background: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        #row-form-address {
            display: none;
            td {
                vertical-align: top;
            }
        }
        #form-address {
            opacity: 0;
        }
    }
    .l-main {
        float: right;
        position: relative;
        .pal {
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            padding-top: 20px;
        }
        .b-account__container {
            padding: 20px;
            color: #4c4c4c;
            line-height: 20px;
        }
        .mbm {
            margin-bottom: 12px;
        }
    }
}

.title-bar {
    line-height: 1;
    color: #000;
    background-color: #dfdfdf;
    text-transform: uppercase;
    .b-account__title {
        font-size: 16px;
        color: #4c4c4c;
    }
}

.rfloat {
    float: right;
}

.b-account__infoName {
    zoom: 1;
}

.box {
    position: relative;
    box-sizing: border-box;
    display: block;
}

.b-account__infoLabel {
    min-width: 150px;
    float: left;
}

.b-account__info {
    zoom: 1;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

.mrl {
    margin-right: 20px;
}

.b-account__addressType {
    width: 75px;
}

.mvm {
    margin-bottom: 12px;
    margin-top: 12px;
}

.mtm {
    margin-top: 12px;
}

.dropdown-header {
    font-size: 18px;
    background-color: #6d6e6e;
    color: #fff;
    height: 40px;
    padding: 12px 20px;
    margin-bottom: 12px;
}

.dropdown-menu {
    padding: 0;
}

.walletBalance {
    color: #00c8b4;
}

.fsl {
    font-size: 20px;
}

.tbl-pt30 {
    td {
        padding-top: 30px !important;
    }
}

.tbl-pb30 {
    td {
        padding-bottom: 30px !important;
    }
}

.pt30 {
    padding-top: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.pll {
    padding-left: 20px;
}

.prl {
    padding-right: 20px;
}

.l-relative {
    position: relative !important;
}

.mtl {
    margin-top: 20px;
}

.pbm {
    padding-bottom: 12px;
}

.b-sociablelabsBanner {
    margin-bottom: 10px;
    position: relative;
}