.product-image-view {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
}

* {
    vertical-align: top;
    outline: none;
}

.product-image-view .product-images {
    padding: 20px 5px;
    position: relative;
}

.product-image-view .product-big-view {
    margin: 0 0 0 80px;
}

.carousel {
    position: relative;
}

.product-image-view .product-images .carousel-inner {
    max-width: 800px;
    margin: 0 auto;
}

.product-image-view .product-big-view {
    margin: 0 0 0 95px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-inner>.active {
    left: 0;
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block;
}

img {
    vertical-align: middle;
    border: 0;
}

.product-image-view .product-images .product-thumb {
    float: left;
    width: 15%;
    position: absolute;
    top: 50px;
}

.product-image-view .product-images .product-thumb a {
    display: block;
    margin: 0;
}

a:active,
a:hover {
    outline: 0;
    cursor: pointer;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a {
    background: transparent;
}

.product-image-view .product-images .product-thumb a img {
    max-width: 100%;
}

.product-image-view a.carousel-control {
    background: none;
    top: auto;
    bottom: 20px;
    height: auto;
}

.new-product {
    width: 83%;
    float: right;
    min-height: 800px;
    padding: 10px;
}

.dress-name {
    margin: 30px 0;
}

.dress-name h2 {
    float: left;
    color: #000;
    font-weight: 500;
    padding: 0;
}

.dress-name h3 {
    color: #000000;
    letter-spacing: 1px;
    font-weight: 500;
}

.dress-name p {
    margin-top: 16px;
    font-size: 0.9em;
    line-height: 23px;
    color: #333;
}

.span1 {
    margin: 18px 0;
    padding: 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.span2 {
    margin: 18px 0;
    border-bottom: 1px solid #eee;
}

.span3 {
    border-bottom: 1px solid #Eee;
}

p.left {
    float: left;
    font-size: 0.9em;
    color: #000;
    letter-spacing: 2px;
    margin-right: 5%;
    width: 40%;
}

p.right {
    float: left;
    font-size: 0.9em;
    color: #000;
    letter-spacing: 2px;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

a.continue:link,
a.continue:visited {
    margin-top: 30px;
    text-decoration: none;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    background: #222;
    font-weight: bold;
    border: 1px solid #222;
    border-radius: 0px;
    float: left;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

a.continue:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

a.continue:hover,
a.continue:focus,
a.continue:active {
    background: #fff !important;
    color: #222;
}

a.continue:hover:after,
a.continue:focus:after,
a.continue:active:after {
    right: -10px;
}