extends ../layouts/main.pug

block main
    .col-sm-10.col-xs-8
      .row
        .col-xs-6.col-xs-offset-3
          form#form-checkout.goof-form(action='/checkout', method='POST', role='form')
            legend Checkout
            br
            span= 'YOUR TOTAL:  ' totalPrice + ' VND'
            #charge-error.alert.alert-danger(class= message ? 'hidden' : '' )= message
            .form-group
              label(for='') Full Name
              |  
              input#name.form-control(type='text', required='', name='name')
            .form-group
              label(for='') Email
              |  
              input#email.form-control(type='email', required='', name='email')
            .form-group
              label(for='address') Address
              |  
              input#address.form-control(type='text', required='', name='address')
            .form-group
              label(for='card-name') Card Holder Name
              |  
              input#card-name.form-control(type='text', required='')
            .form-group
              label(for='card-number') Credit Card Number
              |  
              input#card-number.form-control(type='text', required='')
            .row
              .col-xs-6
                .form-group
                  label(for='card-expiry-month') Expiration Month
                  |  
                  input#card-expiry-month.form-control(type='text', required='')
              .col-xs-6
                .form-group
                  label(for='card-expiry-year') Expiration Year
                  |  
                  input#card-expiry-year.form-control(type='text', required='')
            .form-group
              label(for='card-cvc') CVC
              |  
              input#card-cvc.form-control(type='text', required='')
            button.btn.form-btn(type='submit') Checkout

block script
  script(type='text/javascript', src='https://js.stripe.com/v2/')
  script(type='text/javascript', src='/js/checkout.js')