extends ../layouts/main.pug

block main
    .col-sm-10
      h1 Checkout
      h4= 'Your Total: ' + totalPrice
      //- if error
        #charge-error.alert.alert-danger= message
      form.goof-form#checkout-form(action='/checkout', method='post')
      .row
        .col-xs-6.col-xs-offset-3
        .form-group
          label(for='name') Name
          |  
          input#name.form-control(type='text', required='', name='name')
        .col-xs-12
        .form-group
          label(for='address') Address
          |  
          input#address.form-control(type='text', required='', name='address')
        hr
        .col-xs-12
        .form-group
          label(for='card-name') Card Holder Name
          |  
          input#card-name.form-control(type='text', required='')
        .col-xs-12
        .form-group
          label(for='card-number') Credit Card Number
          |  
          input#card-number.form-control(type='text', required='')
        .col-xs-12
        .row
          .col-xs-6
          .form-group
            label(for='card-expiry-month') Expiration Month
            |  
            input#card-expiry-month.form-control(type='text', required='')
          .col-xs-6
          .form-group
            label(for='card-expiry-year') Expiration Year
            |  
            input#card-expiry-year.form-control(type='text', required='')
        .col-xs-12
        .form-group
          label(for='card-cvc') CVC
          |  
          input#card-cvc.form-control(type='text', required='')
      |  
      button.btn.btn-success(type='submit') Check out
    //- script(type='text/javascript', src='https://js.stripe.com/v2/')
    //- script(type='text/javascript', src='javascripts/checkout.js')