extends ../layouts/main.pug

block sidebar
  .sidebar
    b Genders
    ul.sidebar-nav
      li.active
        a(href='#') Men
      li
        a(href='#') Women
    |  
    b Collections
    ul.sidebar-nav
      li
        a(href='#') Season &apos;17
      li
        a(href='#') Season &apos;16
    b Categories
    ul#filter-type.sidebar-nav
      li
        a(href='/shop_men/jacket') Jacket
      li
        a(href='/shop_men/sweatshirt') Sweatshirt
      li
        a(href='/shop_men/shirt') Shirt
      li.active
        a(href='/shop_men') All
block main
  .col-md-10.col-sm-10
    .row
      .col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
        #success.alert.alert-success(class= message ? 'hidden' : '')= message
    each item in products
      .col-md-4.col-sm-6
        .product-block
          a.img-block(href='/product_detail/'+ item.id)
            img.main-thumb(src= item.thumbImgUrl[0], alt= item.category)
          .title-block
            a(href='#')= item.name
            br
            |  
            span.price-block
              span.currency= 'VND ' + item.price