extends ../layouts/main.pug

block sidebar
  .sidebar
    b Genders
    ul.sidebar-nav
      li.active
        a(href='#') Men
      li
        a(href='#') Women
    |  
    b Collections
    ul.sidebar-nav
      li
        a(href='#') Season &apos;17
      li
        a(href='#') Season &apos;16
    b Categories
    ul#filter-type.sidebar-nav
      li
        a(href='#') Jacket
      li
        a(href='#') Sweatshirt
      li
        a(href='#') Shirt
      li
        a(href='#') T-shirt
      li
        a(href='#') Tanks
      li
        a(href='#') Pants
      li
        a(href='#') Socks
      li
        a(href='#') Accessories
      li.active
        a(href='') All
block main
  .col-md-10.col-sm-10
    each item in products
      .col-md-4.col-sm-6
        .product-block
          a.img-block(href='/product_detail/'+ item.id)
            img.main-thumb(src= item.thumbImgUrl[0], alt= item.category)
          .title-block
            a(href='#')= item.name
            br
            |  
            span.price-block
              span.currency= 'VND ' + item.price