extends ../layouts/main.pug

block link
  link(href='/css/shopping_cart.css', rel='stylesheet')

block content
  .col-sm-10
    .wrapper.cf
      .heading.cf
      h1 My Cart
      |  
      a.continue(href='#') Continue Shopping
      .cart
      ul.tableHead
        li.prodHeader Product
        li Quantity
        li Total
        li Remove
      ul#list.cartWrap
        each item in cart
          li.items
          .infoWrap
            .cartSection
            img.itemImg(src= item.product.smImgUrl[0], alt='')
            h3= item.product.name
            p#price
              span#quantity.qty= item.amount ' x VND ' + item.product.price
            .prodTotal.cartSection
            p#total
            .cartSection.removeWrap
            a.remove(href='#', data-id='') x
      .promoCode
      label(for='promo') Have A Promo Code?
      input(type='text', name='promo', placholder='Enter Code')
      a.btn(href='/remove')
      .subtotal.cf
      ul
        li.totalRow
        span.label Subtotal
        span.value#subtotal $35.00
        li.totalRow
        span.label Shipping
        span.value $5.00
        li.totalRow
        span.label Tax
        span.value $4.00
        li.totalRow.final
        span.label Total
        span.value $44.00
        li.totalRow
        a.btn.continue(href='#') Checkout
