html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #222;
  background: transparent; }

a {
  color: #222;
  text-decoration: none; }
  a a:hover,
  a a:visited,
  a a:focus {
    text-decoration: none !important;
    background: transparent !important; }

.brand-block {
  padding-left: 60px;
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 4;
  background: #fff; }
  .brand-block .brand-name {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    color: #000;
    text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .brand-block {
      padding-top: 20px;
      padding-left: 0;
      padding-bottom: 0;
      text-align: center; }
      .brand-block a.brand-name {
        font-size: 1.8rem; } }
  @media screen and (max-width: 1024px) and (min-width: 481px) {
    .brand-block {
      padding-top: 30px;
      padding-bottom: 65px;
      padding-left: 0;
      text-align: center; }
      .brand-block a.brand-name {
        font-size: 3.2rem; } }
  @media screen and (max-width: 1366px) and (min-width: 1025px) {
    .brand-block {
      padding-top: 30px; }
      .brand-block a.brand-name {
        font-size: 4.2rem; } }
  .brand-block a.brand-name:hover,
  .brand-block a.brand-name:focus,
  .brand-block a.brand-name:visited {
    text-decoration: none; }

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7); }

#goof-home {
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 0; }
  #goof-home .owl-carousel {
    width: 100%;
    max-width: 720px;
    height: auto;
    overflow: hidden; }
    #goof-home .owl-carousel .item {
      display: table; }
  #goof-home .label-block {
    position: absolute;
    z-index: 1; }
    #goof-home .label-block .label {
      padding: 10px 40px;
      font-family: 'Cinzel', serif;
      color: #fff;
      font-size: 28px;
      font-weight: normal;
      border-radius: 0;
      background: #000; }
      @media screen and (max-width: 480px) {
        #goof-home .label-block .label {
          font-size: 1rem; } }
    @media screen and (max-width: 1024px) {
      #goof-home .label-block {
        bottom: 20%; } }
    @media screen and (max-width: 1366px) and (min-width: 1025px) {
      #goof-home .label-block {
        bottom: 10%; } }
    @media screen and (min-height: 1366px) {
      #goof-home .label-block {
        margin: 0 130px; } }
  @media screen and (max-width: 480px) {
    #goof-home {
      padding-top: 75px; }
      #goof-home > .col-sm-8,
      #goof-home .col-sm-6 {
        padding-top: 20px;
        padding-bottom: 40px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    #goof-home {
      padding-top: 110px; }
      #goof-home > .col-sm-8,
      #goof-home .col-sm-6 {
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 25px;
        width: 100%; } }
  @media screen and (max-width: 1024px) and (min-width: 769px) {
    #goof-home {
      padding-top: 170px; }
      #goof-home > .col-sm-6 {
        float: right;
        margin-top: -100px;
        margin-bottom: 100px; } }
  @media screen and (max-width: 1366px) and (min-width: 1025px) {
    #goof-home {
      padding-top: 145px; }
      #goof-home > .col-sm-6 {
        float: right;
        margin-top: -150px;
        margin-bottom: 100px; } }
  @media screen and (min-height: 1366px) {
    #goof-home {
      padding-top: 190px; }
      #goof-home > .col-sm-8,
      #goof-home .col-sm-6 {
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 25px;
        margin: 0 auto;
        width: 100%; }
        #goof-home > .col-sm-8 .owl-carousel,
        #goof-home .col-sm-6 .owl-carousel {
          margin: 0 auto; } }

#men-label {
  left: 0%; }

#women-label {
  right: 0; }

#men-carousel {
  z-index: 1; }

#women-carousel {
  z-index: 0; }

.navbar .navbar-header {
  position: relative;
  /* Style for the plus button when header has active classe name */ }
  .navbar .navbar-header .navbar-toggle {
    position: absolute;
    bottom: 0%;
    left: calc(50% - 30px);
    width: 60px;
    height: 35px;
    margin-bottom: 0;
    background-color: #000;
    font: 400 1.2em 'Cinzel', serif;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; }
    @media screen and (max-width: 768px) {
      .navbar .navbar-header .navbar-toggle {
        display: block;
        float: right; } }
  .navbar .navbar-header .navbar-toggle:hover {
    height: 50px; }
  .navbar .navbar-header .navbar-toggle span {
    display: block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; }
  .navbar .navbar-header.active .navbar-toggle span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  @media screen and (max-width: 768px) {
    .navbar .navbar-header {
      float: none; } }
.navbar .nav-menu {
  margin-left: 45px;
  margin-bottom: 25px; }
  .navbar .nav-menu li {
    display: inline-block;
    float: left; }
    .navbar .nav-menu li a {
      display: inline-block;
      font-family: 'Cinzel', serif;
      font-size: 1.2rem;
      color: #000;
      text-decoration: none;
      position: relative;
      cursor: pointer; }
      .navbar .nav-menu li a:focus {
        background: transparent; }
    @media screen and (max-width: 768px) {
      .navbar .nav-menu li {
        display: block;
        float: none;
        background: #fff; } }
    @media screen and (max-width: 1366px) {
      .navbar .nav-menu li a {
        font-size: 2rem; } }
  @media screen and (max-width: 768px) {
    .navbar .nav-menu {
      margin: 0;
      padding-bottom: 0; }
      .navbar .nav-menu li a {
        font-size: 1.8rem; } }
@media screen and (max-width: 768px) {
  .navbar {
    min-height: 0; }
    .navbar.navbar-fixed-bottom {
      border: none; }
    .navbar .navbar-collapse {
      padding-right: 0;
      padding-left: 0; } }
@media screen and (min-height: 1366px) {
  .navbar.navbar-fixed-bottom {
    top: 6%; }
    .navbar.navbar-fixed-bottom .nav-menu {
      width: 86%; }
      .navbar.navbar-fixed-bottom .nav-menu li a {
        font-size: 1.8rem; } }
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .navbar {
    margin-top: 30px;
    width: 100%;
    top: 9%;
    bottom: inherit; }
    .navbar .nav-menu {
      width: 74%;
      margin: 0 auto; }
      .navbar .nav-menu li a {
        font-size: 1.5rem; } }

@media screen and (min-width: 1196px) and (max-width: 1366px) and (min-height: 638px) and (max-height: 644px) {
  div.brand-block > a.brand-name {
    font-size: 2rem; }

  section#goof-home {
    padding-top: 75px;
    height: 100vh; }
    section#goof-home > .col-sm-6 {
      margin-top: -350px; }

  nav.navbar .nav-menu li a {
    font-size: 1.2rem; } }
.nav-link:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 70%;
  background-color: transparent;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease; }
.nav-link:hover:before {
  bottom: 0px;
  background-color: black; }
.nav-link:hover {
  background-color: transparent !important; }
.nav-link.active:before {
  bottom: 0px;
  background-color: black; }
.nav-link:focus {
  background: transparent !important; }
