h3,
h4 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1.4;
  color: inherit;
  letter-spacing: .08em;
  text-transform: uppercase;
  display: block;
  font-weight: bold; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

#content {
  margin: 0 auto;
  position: relative;
  zoom: 1; }
  #content .b-accountMenu li {
    padding: 10px; }
    #content .b-accountMenu li:hover a {
      text-decoration: underline; }
    #content .b-accountMenu li a {
      display: block;
      font-size: 0.8em;
      text-transform: uppercase; }
  #content .b-accountMenu li.active {
    border: 1px solid #222; }
  #content .user-content {
    width: 80%;
    margin: 0 auto; }
    #content .user-content tr {
      border: 1px solid #222; }
    #content .user-content td {
      padding: 5px 15px; }
    #content .user-content .table-header {
      font-size: 1.2em;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.4em;
      line-height: 1.6em;
      background: #222; }
  #content .l-main {
    float: right;
    position: relative; }
    #content .l-main .pal {
      padding-left: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      padding-top: 20px; }
    #content .l-main .b-account__container {
      padding: 20px;
      color: #4c4c4c;
      line-height: 20px; }
    #content .l-main .mbm {
      margin-bottom: 12px; }

.title-bar {
  line-height: 1;
  color: #000;
  background-color: #dfdfdf;
  text-transform: uppercase; }
  .title-bar .b-account__title {
    font-size: 16px;
    color: #4c4c4c; }

.btn {
  transition: background-color .3s, color .2s;
  box-sizing: border-box;
  display: inline-block;
  padding: 12px;
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle; }
  .btn.btn--tiny {
    padding: 6px;
    border: 1px solid;
    font-size: 14px; }
  .btn.btn--secondary {
    background-color: #fff;
    color: #000;
    border-color: #000; }
    .btn.btn--secondary:hover {
      background-color: #000;
      color: #fff;
      border-color: #000; }

.rfloat {
  float: right; }

.b-account__infoName {
  zoom: 1; }

.box {
  position: relative;
  box-sizing: border-box;
  display: block; }

.b-account__infoLabel {
  min-width: 150px;
  float: left; }

.b-account__info {
  zoom: 1; }

.lfloat {
  float: left; }

.rfloat {
  float: right; }

.mrl {
  margin-right: 20px; }

.b-account__addressType {
  width: 75px; }

.mvm {
  margin-bottom: 12px;
  margin-top: 12px; }

.mtm {
  margin-top: 12px; }

.dropdown-header {
  font-size: 18px;
  background-color: #6d6e6e;
  color: #fff;
  height: 40px;
  padding: 12px 20px;
  margin-bottom: 12px; }

.dropdown-menu {
  padding: 0; }

.walletBalance {
  color: #00c8b4; }

.fsl {
  font-size: 20px; }

.pll {
  padding-left: 20px; }

.prl {
  padding-right: 20px; }

.l-relative {
  position: relative !important; }

.mtl {
  margin-top: 20px; }

.pbm {
  padding-bottom: 12px; }

.b-sociablelabsBanner {
  margin-bottom: 10px;
  position: relative; }
