extends ../main-layout.pug


block main
  .col-sm-10.col-xs-8#info
    .col-sm-6
      span.contact-label Email:
      ul
        li
        a(href='mailto:14clc-goof@smaple.com') 14clc-goof@smaple.com
        li
        a(href='mailto:1453023@student.hcmus.edu.vn') 1453023@student.hcmus.edu.vn
        li
        a(href='mailto:1453053@student.hcmus.edu.vn') 1453053@student.hcmus.edu.vn
        li
        a(href='mailto:1453066@student.hcmus.edu.vn') 1453066@student.hcmus.edu.vn
      p.contact-label Hotline:
      p (+84) 123 456 6789
    .col-sm-6
      p.contact-label Address:
      p Nguy&#x1EC5;n H&#x1EEF;u C&#x1EA3;nh, Qu&#x1EAD;n B&igrave;nh Th&#x1EA1;nh, TP. HCM
      p.contact-label Available time:
      p Everyday from 10 AM to 10 PM
    p#special -est. 2017-
  .col-sm-12
    #map
block script
  script.
    function initMap() {
    var uluru = {
    lat: 10.811140,
    lng: 106.674074
    };
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: uluru,
    scrollwheel: false,
    styles: [{
    "featureType": "administrative",
    "elementType": "all",
    "stylers": [{
    "saturation": "-100"
    }]
    }, {
    "featureType": "administrative.province",
    "elementType": "all",
    "stylers": [{
    "visibility": "off"
    }]
    }, {
    "featureType": "landscape",
    "elementType": "all",
    "stylers": [{
    "saturation": "-100"
    }, {
    "lightness": "10"
    }, {
    "visibility": "on"
    }]
    }, {
    "featureType": "poi",
    "elementType": "all",
    "stylers": [{
    "saturation": "-100"
    }, {
    "lightness": "-5"
    }, {
    "visibility": "simplified"
    }]
    }, {
    "featureType": "road",
    "elementType": "all",
    "stylers": [{
    "saturation": "-100"
    }]
    }, {
    "featureType": "road.highway",
    "elementType": "all",
    "stylers": [{
    "visibility": "simplified"
    }]
    }, {
    "featureType": "road.arterial",
    "elementType": "all",
    "stylers": [{
    "lightness": "10"
    }]
    }, {
    "featureType": "road.local",
    "elementType": "all",
    "stylers": [{
    "lightness": "5"
    }]
    }, {
    "featureType": "transit",
    "elementType": "all",
    "stylers": [{
    "saturation": "-100"
    }, {
    "visibility": "simplified"
    }]
    }, {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [{
    "hue": "#ffff00"
    }, {
    "lightness": -25
    }, {
    "saturation": -97
    }]
    }, {
    "featureType": "water",
    "elementType": "labels",
    "stylers": [{
    "lightness": -25
    }, {
    "saturation": "-100"
    }]
    }]
    });
    var marker = new google.maps.Marker({
    position: uluru,
    map: map
    });
    }
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCDPcGTsy2X9bpJtOZGoBPWD5kQHA-_Ljw&callback=initMap')
