doctype html
html(lang='en')
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/animate.min.css')
    link(rel='stylesheet', href='/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/css/owl.theme.default.min.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(href='/css/icomoon.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body

    block content

    footer
      .row
        .col-md-8.col-sm-8
          p.text-center Copyright &copy; 14CLC-Web05-Goof 2017 / T&#x1ED1;ng H&#x1EEF;u L&#x1ED9;c - L&#x1EA1;i Tri&#x1EC7;u - L&ecirc; Thanh Tu&#x1EA5;n
        .col-md-4.col-sm-4
          ul.social-links
            li
              a(href='#')
                i.fa.fa-facebook-square
            li
              a(href='#')
                i.fa.fa-instagram
            li
              a(href='#')
                i.fa.fa-google-plus-square
            li
              a(href='#')
                i.fa.fa-envelope-square
    block script         
    script(src='/js/jquery-3.1.1.min.js ')
    script(src='/js/owl.carousel.min.js ')
    script(src='/js/bootstrap.min.js ')
    script(src='/js/cart.min.js')
    script(src='/js/rivets-cart.min.js')
    script(src='/js/main.js')