extends ./home.pug

block content
  nav.navbar(role='navigation')
    .col-md-12
      .navbar-header
        a.navbar-brand(href='/') G O O F
      ul.nav.navbar-nav.pull-right
        li
          input.search-btn.fa.ib-m(type='submit', value='')
          .search-slide.ib-m
            input.ib-m(type='text', placeholder='Enter your search')
            .search-close.ib-m
              i.fa.fa-times(aria-hidden='true')
        li.bag-count
          a#cd-cart-trigger(href='#')
            if session.cart
              span.bag-text= 'Bag (' + session.cart.totalQty + ')'
              span.bag-icon= session.cart.totalQty
            else
              span.bag-text Bag (0)
              span.bag-icon 0
        if user
          li#user-display
            a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              i.fa.fa-user
              = user
            ul.dropdown-menu
              li
                a(tabindex='-1', href='/account') My Account
              li
                a(tabindex='-1', href='/logout') Logout
        else
          li#login-md
            a(href='/login') Login
  #cd-shadow-layer
  #cd-cart
    h2 Shopping bag
    if session.cart
      ul.cd-cart-items
        each item in session.cart.items
          li
            img.bag-preview(src= item.item.smImgUrl[0])
            span.cd-info= item.qty + ' x ' + item.item.name + '<br>' + item.price
            a.cd-item-remove.cd-img-replace(href='#0')
              i.fa.fa-times
      .cd-cart-total
        p SUBTOTAL
          span= session.cart.totalPrice
      a.checkout-btn(href='/checkout') Checkout
      p.cd-go-to-cart
        a(href='/shopping_cart') Go to bag detail
    else
      h1.text-center Your cart is empty
  .container-fluid.goof-container
    .col-md-2.col-sm-2
      .navToggle
        .menu-btn
          | MENU
          span.icon
      #goof-menu
        ul
          li
            a(href='/') Home
          li Shop
            ul.sub-menu
              li
                a.small(href='/shop_men') men
              li
                a.small(href='/shop_men') women
          li
            a(href='#') Lookbook
          li
            a(href='/contacts') Contacts
          li
            a(href='#') About
          if user
            li
              a(href='/account') Account
          else
            li#login-xs
              a(href='/login') Login
      block sidebar
    block main
    
block script
